absl-py==2.0.0
astunparse==1.6.3
audioread==3.0.1
autopep8==2.0.4
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cmake==3.27.9
contourpy==1.2.0
cycler==0.12.1
decorator==5.1.1
etils==1.5.2
expelliarmus==1.1.12
filelock==3.13.1
flatbuffers==24.3.25
fonttools==4.46.0
fsspec==2023.10.0
gast==0.5.4
glfw==2.6.3
google-pasta==0.2.0
grpcio==1.63.0
h5py==3.10.0
idna==3.6
importlib-resources==6.1.1
importlib_metadata==7.1.0
importRosbag==1.0.4
Jinja2==3.1.2
joblib==1.3.2
keras==3.3.3
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
lit==17.0.6
llvmlite==0.42.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
mdurl==0.1.2
ml-dtypes==0.3.2
mpmath==1.3.0
msgpack==1.0.8
mujoco==2.3.7
namex==0.0.8
networkx==3.2.1
nir==0.2.0
nirtorch==0.2.1
numba==0.59.1
numpy==1.26.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
packaging==23.2
pandas==2.1.3
pbr==6.0.0
Pillow==10.1.0
platformdirs==4.2.2
pooch==1.8.2
protobuf==4.25.3
py-spy==0.3.14
pycodestyle==2.11.1
pycparser==2.22
Pygments==2.18.0
PyOpenGL==3.1.7
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
six==1.16.0
snntorch==0.7.0
soundfile==0.12.1
soxr==0.3.7
sympy==1.12
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
threadpoolctl==3.2.0
tomli==2.0.1
tonic==1.4.3
torch==2.0.1
torchaudio==2.0.2
torchsummary==1.5.1
torchvision==0.15.2
tqdm==4.66.1
triton==2.0.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
Werkzeug==3.0.3
wrapt==1.16.0
xmltodict==0.13.0
zipp==3.17.0
